@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
		
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>