@{
    ViewBag.Title = "已借图书/续借";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
	<thead>
		<tr>
			<th style="text-align: center;width: 50px"><input type="checkbox" /></th>
			<th style="text-align: left;width: 150px">借阅日期</th>
			<th style="text-align: left;width: 150px">应还日期</th>
			<th>图书</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;width: 50px"><input type="checkbox" /></td>
			<td style="text-align: left;widtd: 150px">2012-11-20</td>
			<td style="text-align: left;widtd: 150px">2012-12-22</td>
			<td>企业管理丛书</td>
		</tr>
		<tr>
			<td style="text-align: center;widtd: 50px"><input type="checkbox" /></td>
			<td style="text-align: left;widtd: 150px">2012-11-20</td>
			<td style="text-align: left;widtd: 150px">2012-12-22</td>
			<td>企业管理丛书</td>
		</tr>
		<tr>
			<td style="text-align: center;widtd: 50px"><input type="checkbox" /></td>
			<td style="text-align: left;widtd: 150px">2012-11-20</td>
			<td style="text-align: left;widtd: 150px">2012-12-22</td>
			<td>企业管理丛书</td>
		</tr>
		<tr>
			<td style="text-align: center;widtd: 50px"><input type="checkbox" /></td>
			<td style="text-align: left;widtd: 150px">2012-11-20</td>
			<td style="text-align: left;widtd: 150px">2012-12-22</td>
			<td>企业管理丛书</td>
		</tr>
	</tbody>
</table>
